################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlineShop/.vs/OnlineShop/FileContentIndex/109c8656-b551-43b2-a3a6-1364194425d8.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/8c19d182-27e6-4a60-85e2-63381c895984.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/ad8a98eb-5555-4c86-bc85-cf1f253e6784.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/e04c9b1f-6cf2-4aaf-a6c0-f5ee3dfa7861.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/e0dd573a-ec1c-4a02-a3a4-7edbd3ab42ca.vsidx
